@import './variables.scss';
@import './reset.scss';

html {
  font-family: $main-font;
  font-size: $default-font-size;
  color: $primary-color;
}
body {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  overflow: hidden;
}

input:focus {
  outline: none;
  border-color: $accent-color;
}

.wrapper {
  z-index: 1;
}

.papirus-bg {
  position: absolute;
  width: 90%;
  height: 90%;
}

.header__title {
  font-size: 5rem;
  text-align: center;
}

.cryptography-form {
  display: flex;

  &__input,
  &__submit {
    margin: 20px 5px;
    padding: 5px 10px;
    font-family: $main-font;
    font-size: 2rem;
  }

  &__input {
    width: 35vw;
    border: 0;
    border-bottom: 2px solid $secondary-color;
    background-color: transparent;
  }

  &__submit {
    border: 2px solid $secondary-color;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }

  &__submit:hover,
  &__input:hover {
    border-color: $accent-color;
  }
}

.cryptography-output {
  margin-top: 10px;
  height: 40px;

  &__encrypted-message,
  &__error-message {
    font-size: 2.5rem;
    text-align: center;
  }

  &__error-message {
    color: $error-color;
  }
}

@media (max-width: 1024px) {
  .papirus-bg {
    width: 1650px;
  }
  .header__title {
    font-size: 10rem;
  }

  .cryptography-form {
    padding-top: 30px;
    &__input {
      width: 70vw;
    }
    &__input,
    &__submit {
      font-size: 3.5rem;
    }
  }

  .cryptography-output {
    &__encrypted-message,
    &__error-message {
      font-size: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .papirus-bg {
    width: 1300px;
  }
  .header__title {
    font-size: 8rem;
  }

  .cryptography-form {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    &__input {
      width: 82vw;
    }
    &__submit {
      width: 50vw;
    }
  }

  .cryptography-output {
    &__encrypted-message,
    &__error-message {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 414px) {
  .papirus-bg {
    width: 1100px;
  }
  .header__title {
    font-size: 4rem;
  }

  .cryptography-form {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;

    &__input,
    &__submit {
      font-size: 2rem;
    }

    &__input {
      width: 82vw;
    }
    &__submit {
      width: 50vw;
    }
  }

  .cryptography-output {
    &__encrypted-message,
    &__error-message {
      font-size: 2rem;
    }
  }
}
